<DOCTYPE html>
  {% load static %}
  <html>
    <head>
      <title>Travel wish list</title>
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/sakura.css/css/sakura.css"
        type="text/css"
      />
      <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}"
        type="text/css"
      />
    </head>
    <body>
      <div id="content"> 
      {% block content %} {% endblock %}
      </div>
    </body>

    <div id="footer">
      <p class="footer-text">A travel wishlist build with Django</p>
      <div id="footer-links">
        <a class="nav-link" href="{% url 'place_list' %}">Home</a>
        <a class="nav-link" href="{% url 'places_visited' %}"> Visited </a>
        <a class="nav-link" href="{% url 'about' %}"> About</a>
      </div>
    </div>
  </html>
</DOCTYPE>
