{% extends 'travel_wishlist/base.html'%}
{% block content %}
  <h2>Travel Wishlist</h2>

  <form method="POST" action="{% url 'place_list' %}">
    {% csrf_token %}
    {{ new_place_form }}
    <button id="add-new-place">ADD</button>
  </form>

  {% for place in places %}
  <div class="places">
    <span id="place-name-{{ place.pk }}">{{ place.name }}</span>
    <form method="POST" action="{% url 'place_was_visited' place.pk %}">
      {% csrf_token %}
      <button id="visited-button-{{ place.pk }}">visited!</button>
    </form>
  </div>
  {% empty %}
  <div>
    <p>No places added to the wishlist yet.</p>
  </div>
  {% endfor %}
{% endblock %}
